src/main/resources/xsd/person.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="person" type="personType"/>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element type="xs:string" name="id"/>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="company"/>
            <xs:element type="xs:byte" name="age"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>